@model Snowflake.Models.Product
<div class="col-lg-4 col-md-6 pb-4">
	<!-- Card -->
	<div class="card bg-white rounded shadow-sm" style="border:1px solid #222">
		<div class="card-body px-3 pt-3 pb-1 row">
			<div class="col-7"><label class="float-left">Product Name</label></div>
			<div class="col-5"><label class="float-right"><span class="text-info h5">Product Price</span>TEXT</label></div>
		</div>
		<img class="card-img-top img-fluid d-block mx-auto mb-3" src="" alt="Card image cap" />

	</div>
</div>